.header-bg {
  background: #303240;
  height: 60px;
  padding: 20px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.video-course {
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.auth-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-buttons {
  line-height: 24px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 14px;
}
