<div class="header-bg">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-wrapper">
                <app-logo></app-logo>
                <a routerLink="/">
                    <p class="video-course ">VIDEO COURSE</p>
                </a>
            </div>
            <div class="auth-buttons-wrapper">
                <a routerLink="/login" *ngIf="!this.authService.isAuth">
                    <p class="auth-buttons">User login</p>
                </a>
                <p *ngIf="this.authService.isAuth" (click)="logout()" class="auth-buttons">Log out</p>
            </div>
        </div>
    </div>
</div>