<div class="course-list">
    <app-search-form (inputValueEvent)="changeSearchString($event)"></app-search-form>
    <div class="container">
        <div class="course-list-wrapper" *ngIf="courses.length; else other_content">
            <app-courses-list-item *ngFor="let course of courses | orderBy| filter:searchValue " [course]="course">
            </app-courses-list-item>
        </div>
    </div>
</div>

<ng-template #other_content>
    <div class="container">
        <p style="text-align:center;">
            No data
        </p>
    </div>
</ng-template>