<div class="modal-wrapper">
    <div class="modal-add">
        <h3>New Course</h3>
        <form class="add-form" [formGroup]="form" (ngSubmit)="submit()">
            <label for="">Title:</label>
            <input type="text" placeholder="Enter title" formControlName="title">
            <label for="">Description:</label>
            <input type="text" placeholder="Enter description" formControlName="description">
            <label for="">Duration:</label>
            <input type="number" placeholder="Minutes" formControlName="duration">
            <label for="">Date:</label>
            <input type="date" placeholder="date" formControlName="date">
            <label for="">Authors:</label>
            <input type="text" placeholder="Enter Author" formControlName="author">
            <div class="button-wrapper">
                <button class="cancel-button" type="button" (click)="cancel()">Cancel</button>
                <button class="add-button" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>