<div class="modal-wrapper">
    <div class="modal-add">
        <h3>New Course</h3>
        <form class="add-form">
            <label for="">Title:</label>
            <input type="text" placeholder="Enter title" [ngModelOptions]="{standalone: true}" [(ngModel)]="
                this.courseToEdit.title">
            <label for="">Description:</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]=" this.courseToEdit.description" type="text"
                placeholder="Enter description">
            <label for="">Duration:</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]=" this.courseToEdit.duration" type="number"
                placeholder="Minutes">
            <label for="">Date:</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]=" this.courseToEdit.creationDate" type="date"
                placeholder="date">
            <label for="">Authors:</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]=" this.courseToEdit.author" type="text"
                placeholder="Enter Author">
            <div class="button-wrapper">
                <button class="cancel-button" type="button" (click)="cancel()">Cancel</button>
                <button class="add-button" (click)="submit()" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>